
@{
    ViewData["Title"] = "History";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h2>History</h2>
    </div>
    <div>
        Click <a asp-action="ConcertHistory2018">here</a> for a list of concerts
        from the 2018-2019 season of Eugene Symphonic Band.
    </div>
</body>
</html>