
@{
    ViewData["Title"] = "History";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<body>
    <nav>
        <a href="Home/History">History</a>
        <a href="Home/Contact">Contact</a>
        <a href="Info/Index">Information</a>
        <a href="Info/Location">Location</a>
        <a href="Info/Roster">Roster</a>
    </nav>
    <div>
        Under Construction
    </div>
</body>
