
@{
    ViewData["Title"] = "History";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a asp-action="Index">Home</a>
        <a asp-action="History">History</a>
        <a asp-action="Contact">Contact</a>
        <a href="../Info/Info">Information</a>
        <a href="../Info/Location">Location</a>
        <a href="../Info/Roster">Roster</a>
    </nav>
    <div class="text-center">
        <h2>History</h2>
    </div>
    <div>Under Construction</div>
</body>
</html>