
@{
    ViewData["Title"] = "History";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
            <nav>
            <a asp-action="History">History</a>
            <a asp-action="Contact">Contact</a>
            <a href="Info">Information</a>
            <a href="Info/Location">Location</a>
            <a href="Info/Roster">Roster</a>
        </nav>
    <h2>History</h2>
    <div>Under Construction</div>
</body>
</html>