@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Home</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <nav>
            <a asp-action="Index">Home</a>
            <a asp-action="History">History</a>
            <a asp-action="Contact">Contact</a>
            <a href="../Info/Info">Information</a>
            <a href="../Info/Location">Location</a>
            <a href="../Info/Roster">Roster</a>
        </nav>
        <div class="text-center">
            <h1>Eugene Symphonic Band Community Website</h1>
            <p>Welcome!</p>
        </div>
        <div>Under Construction</div>
        <div>
            <p>
                Eugene Symphonic Band is a wind ensemble based in Eugene, Oregon. It is open to community members who are approved by audition.
            </p>
        </div>
    </body>
</html>