@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a href="Home/History">History</a>
        <a href="Home/Contact">Contact</a>
        <a href="Info/">Information</a>
        <a href="Info/Location">Location</a>
        <a href="Info/Roster">Roster</a>
    </nav>
    <div class="text-center">
        <h1>Eugene Symphonic Band Community Website</h1>
        <p>Welcome!</p>
    </div>
    <div>Under Construction</div>
</body>
</html>