<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eugene Symphonic Band Community Site</title>
    <style>
        #mainDiv {
            padding: 20px;
            border: solid medium;
            border-color: greenyellow;
            color: green;
            font-size: 16pt;
        }
    </style>
</head>
<body>
    <div id="mainDiv"
        @RenderBody()
    </div>
</body>
</html>