<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
    <style>
        #infoDiv {
            padding: 20px;
            border: solid medium;
            border-color: darkgray;
            color: darkgreen;
            font-size: 16pt;
        }
    </style>
</head>
<body>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="History">History</a>
        <a asp-controller="Contact" asp-action="Contact">Contact</a>
        <a asp-controller="Info" asp-action="Info">Information</a>
        <a asp-controller="Info" asp-action="Location">Location</a>
        <a asp-controller="Info" asp-action="RosterByJoinDate">Roster</a>
    </nav>
    <div id="infoDiv">
        @RenderBody()
    </div>
</body>
</html>