
@{
    Layout = "_Layout_Info";
    ViewBag.Title = "Information - Eugene Symphonic Band Community Site";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a href="/Home/Hisory">History</a>
        <a href="/Home/Contact">Contact</a>
        <a href="Info/Index">Information</a>
        <a href="Info/Location">Location</a>
        <a href="Info/Roster">Roster</a>
    </nav>
    <h2>Information</h2>
</body>
