
@{
    Layout = "_Layout_Info";
    ViewBag.Title = "Information - Eugene Symphonic Band Community Site";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h2>Eugene Symphonic Band Information</h2>
    </div>
    <div>
        <p>
            The Eugene Symphonic Band is an audition-only community wind ensemble,
            located in Eugene, Oregon. See the links above for performance locations and current
            membership roster. <br />
            If you would like more information about joining the Eugene Symphonic Band,
            please submit an information request <a asp-action="AuditionRequest">here</a>. <br />
            <a asp-action="CurrentNeeds">Here</a> is a list of our current personnel needs.
        </p>
    </div>
</body>