
@{
    Layout = "_Layout_Info";
    ViewBag.Title = "Information - Eugene Symphonic Band Community Site";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a href="../Home">Home</a>
        <a href="../Home/History">History</a>
        <a href="../Home/Contact">Contact</a>
        <a href="">Information</a>
        <a href="Location">Location</a>
        <a href="Roster">Roster</a>
    </nav>
    <div class="text-center">
        <h2>Eugene Symphonic Band Information</h2>
    </div>
    <p>
        The Eugene Symphonic Band is an audition-only community wind ensemble,
        located in Eugene, Oregon. See the links above for performance locations and current
        membership roster. <br />
        If you would like more information about joining the Eugene Symphonic Band,
        please submit an information request here.
    </p>
</body>