
@{
    Layout = "_Layout_Info";
    ViewBag.Title = "Location - Eugene Symphonic Band Community Site";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a href="../Home">Home</a>
        <a href="../Home/History">History</a>
        <a href="../Home/Contact">Contact</a>
        <a href="/Info/Info">Information</a>
        <a href="">Location</a>
        <a href="Roster">Roster</a>
    </nav>
    <div class="text-center">
        <h2>Eugene Symphonic Band Locations</h2>
    </div>
    <div>
        Eugene Symphonic Band's regular performance venue for the 2019-2020 season is Beall Hall, University of Oregon.
        The address is 961 East 18th Avenue, Eugene, OR. Click <a href="http://maps.google.com/?q=961%20East%2018th%20Avenue%20Eugene,%20OR,%2097403%20United%20States">here</a>
        for a map of the location. <br />
        ESB rehearses on Monday nights in the same building where Beall Hall is located. Rehearsal is in room 170 in the School of Music at University of Oregon.
    </div>
</body>


