
@{
    Layout = "_Layout_Info";
    ViewBag.Title = "Location - Eugene Symphonic Band Community Site";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a href="Home/History">History</a>
        <a href="Home/Contact">Contact</a>
        <a href="Info/">Information</a>
        <a href="Info/Location">Location</a>
        <a href="Info/Roster">Roster</a>
    </nav>
    <h2>Location</h2>
    <div>
        Eugene Symphonic Band's regular performance venue for the 2019-2020 season is Beall Hall, University of Oregon. 
        The address is 961 East 18th Avenue, Eugene, OR. Click <a href="http://maps.google.com/?q=961%20East%2018th%20Avenue%20Eugene,%20OR,%2097403%20United%20States">here</a>
        for a map of the location.
    </div>
</body>


