@model IEnumerable<ESBCommunitySite.Models.Member>;

@{
    Layout = "_Layout_Info";
    ViewData["Title"] = "Roster - Eugene Symphonic Band Community Site";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Roster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h2>Eugene Symphonic Band Roster</h2>
        <a asp-action="Roster">Members By Section</a>
        <a asp-action="RosterByJoinDate">Members By Join Date</a>
    </div>
    <div>
        <p>
            <table class="table table-lg table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Join Date</th>
                        <th>Instrument</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (Member member in Model)
                        {
                            <tr>
                            <td>@member.Name</td>
                            <td>@member.DateJoined</td>
                            <td>@member.Instrument</td>
                            </tr>
                        }
                </tbody>
            </table>
        </p>
    </div>
</body>
</html>